---
import ContentSection from "~/components/content-section.astro";
import HomeCard from "~/components/home-card.astro";
import sites from "~/data/showcase/sites.json";
---

<ContentSection title="Welcome to Terminal" id="home">
  <Fragment slot="lead">
    <span class="text-primary">Code</span>{" "} is like
    <span class="text-primary">humor</span>.
    When you have to <span class="text-primary">explain</span> it, 
    it's <span class="text-primary">bad</span>.
    <br>
  </Fragment>
  <div class="max-w-6xl space-y-2">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {
        sites.map(({ title, image, url }) => (
          <HomeCard title={title} image={image} url={url} />
        ))
      }
    </div>
    <p class="text-sm text-right">
      <a class="text-primary" href='https://www.youtube.com/watch?v=DC471a9qrU4&list=PL0vfts4VzfNiI1BsIK5u7LpPaIDKMJIDN'> ...and more &rarr;</a>
    </p>
  </div>
</ContentSection>
